body {
  background-color: silver;
}

h1 {
  color: teal;
  margin-left: 20px;
}

h2 {
  color: black;
  margin-left: 20px;
}

h3 {
  color: black;
  margin-left: 20px;
}

img {
  position: absolute;
  width: 200px;
  height: 200px;
  right:0;
  top:0;
}



p {
  margin-left: 10px;
}
